@tailwind base;
@tailwind components;
@tailwind utilities;




@theme {
  --font-sans: InterVariable, sans-serif;
}



:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: rgb(255, 255, 255); */
}

.Editor{
  align-content: center;
}


body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1.Title{
  font-size: 3.2em;
  font-family: 'Charis SIL', serif;
  user-select: none;
  line-height: 1.1;
}


.Navbar{
  color: black;
  font-family: 'Charis SIL', serif;
  font-size: 25px;
  user-select: none;
  cursor: pointer; 
}
.Navbar > * a{
  color: #374151;
  text-decoration: none;
}

.Navbar > * a:hover{
  color: #1e40af;
}

button#ThemeSwitch{
  position: absolute;
  top: 10px;
  left: 10px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  /* background: unset;
  color: unset; */
}
